In [5]:
import os
from dotenv import load_dotenv
import pandas as pd
import pickle
import numpy as np
import os
import sys

sys.path.append(os.path.dirname(os.getcwd()))
from groq import Groq
from src.llm_engine.gemini_agent import Agent

In [18]:
load_dotenv()

True

In [6]:
# client = Groq(
#     api_key= os.getenv("GROQ_API_KEY"),
# )

client = Groq(api_key= os.getenv("GROQ_API_KEY"))

In [7]:
df = pd.read_csv(r"data/GridPuzzle_processed.csv")

df.head()

,key,id,question,answer,Mistral-7b,Llama-13b,gemini-pro,gpt-4-turbo,Claude-3,actual_question,Clues,categories,number_of_clues,number_categories,category_names
0,341.json,802,Nicholas and Edith are having a small dinner p...,1984 | Annata Branco | gewurztraminer\n1988 | ...,| 1984 | Annata Branco | gewurztraminer |\n |-...,Let's solve the puzzle step by step.\n \n Step...,"Step-by-step solution:\n 1. From clue 6, we kn...","Step-by-step solution:\n \n 1. From clue 6, we...","Step-by-step solution:\n \n 1. From clue 6, we...",Nicholas and Edith are having a small dinner p...,Clues:\n1. The Ece Suss was bottled sometime a...,"vintages : 1984, 1988, 1992, 1996.\nwines : An...",6,3,vintages wines types
1,341.json,726,The world-famous Punta Santiago Rose Gardening...,first | bon silene | Renee\nsecond | perle d'o...,| first | calocarpa | Hannah\n |---------|----...,Let's break down the clues step by step:\n \n ...,"Step-by-step solution:\n 1. From clue 1, we kn...","Step-by-step solution:\n \n 1. From clue 3, we...","Step-by-step solution:\n \n 1. From clue 1, we...",The world-famous Punta Santiago Rose Gardening...,Clues:\n1. The rose that won fourth place was ...,"placements : first, second, third, fourth.\nro...",5,3,placements roses gardeners
2,341.json,16,A standardized test has recently been develope...,55% | Archimedes | CIT\n62% | Galen | UCLA\n69...,| 55% | Zeno | CIT |\n |------|------|-----|\n...,Let's break down the clues and solve the puzzl...,"Step-by-step solution:\n 1. From clue 2, we kn...","Step-by-step solution:\n \n 1. From clue 4, Pr...","Step-by-step solution:\n \n 1. From clue 4, we...",A standardized test has recently been develope...,Clues:\n1. Zeno finished with a score that was...,"scores : 55%, 62%, 69%, 76%.\na.i. : Archimede...",5,2,scores institutions
3,341.json,698,Gil Glabbers has lived on the coast of Guernse...,1962 | Tracy | Cherbourg\n1969 | Felipe | Bour...,| 1962 | Felipe (Bournemouth) |\n | 1969 | Kar...,Let's break down the clues step by step:\n \n ...,"Step-by-step solution:\n \n 1. From clue 2, we...","Step-by-step solution:\n \n 1. From Clue 2, Tr...","Step-by-step solution:\n \n 1. From clue 2, we...",Gil Glabbers has lived on the coast of Guernse...,Clues:\n1. The message from Plymouth was sent ...,"year sent : 1962, 1969, 1976, 1983.\nwriters :...",5,3,sent writers origins
4,341.json,444,Jamie never misses an opportunity to watch the...,2 | April 22 | Eastbrook\n9 | April 10 | Islet...,| Dates | Locations |\n |---|---|\n | April 10...,Let's break down the clues and solve the puzzl...,"Step-by-step solution:\n \n 1. From clue 1, we...",Step-by-step solution:\n \n Step 1: Analyze th...,"Step-by-step solution:\n \n 1. From clue 3, we...",Jamie never misses an opportunity to watch the...,Clues:\n1. The outing to Eastbrook logged 7 fe...,"shooting stars : 2, 9, 16, 23.\ndates : April ...",4,3,stars dates locations

In [8]:
import re
def process_ls(ls):
    if re.search(r"\d+",ls[0]) is None:
        return ls

    else:
        res = []
        for val in ls:
            val = re.sub(r"[^\d+]", '', val)
            res.append(val)
        return res

In [9]:
import re
def process_question(question):
    lines = question.split("\n")
    categories = {}
    clues = []
    actual_question = ""
    ckpt = -1
    flag = -1
    for index, line in enumerate(lines):


        if ckpt == 1 and re.search(r"^\d+\.", line) is None:
            break

        if " : " in line:
            if flag == -1:
                flag = index
            title, ls = line.split(" : ")[0], line.split(" : ")[1].split(", ")
            ls = process_ls(ls)
            categories[title] = ls
        
        if "Clues" in line:
            ckpt = 1
            continue
        
        if ckpt == 1 and re.search(r"\d+\.", line) is not None:
            clues.append(line)
        


    actual_question += "\n".join(lines[:flag])            

    return actual_question, categories, clues


#ques, categories, clues = process_question(df["question"].iloc[100])

In [6]:
ind = 12
ques, categories, clues = process_question(df["question"].iloc[ind])

In [10]:
system_prompt = f"""

You are an expert AI assistant for analyzing logic grid puzzles. Your task is to systematically translate puzzle clues into logical expressions.
Analyze each clue and categories input to frame a sequence of logical expressions.

Remember to carefully comprehend each clue step by step and translate them to logical expressions
Retun ONLY a thoughtful sequence of logical expressions.

"""


agent = Agent(system_prompt=system_prompt, agent_name="csp_agent")
user_query= f"""{ques}\n\n{clues}\n\n{categories}"""

agent_1_response = agent.perform_action(user_query)

NameError: name 'ques' is not defined

In [8]:
print(agent_1_response)

Let's denote the months as J, F, M, A; probes as D, I, MJ, VM; and destinations as G, Me, P, U.

1. "The Iunsel launched sometime after the probe going to Mercury."
   I > Me

2. "The Disty launched in March."
   D = M

3. "The Moro Jaddo launched 1 month after the mission going to Uranus."
   MJ = U + 1

4. "The Iunsel is going to Pluto."
   I = P

5. "The Iunsel launched 1 month before the mission going to Uranus."
   I = U - 1

Combining 3 and 5, we have:
MJ = U + 1 and I = U - 1, therefore MJ = I + 2

From clue 2, D = M.
From clue 5, I = U - 1. Since months are J, F, M, A, U cannot be J.
From clue 3, MJ = U + 1. Since months are J, F, M, A, U cannot be A.

From clue 1, I > Me.

Let's analyze the possible months for I and U:
If I = J, then U = F. MJ = M. But D = M, so this is not possible.
If I = F, then U = M. MJ = A.
If I = M, then U = A. MJ would be after April, which is not possible.

Therefore, I = F, U = M, MJ = A.
Since D = M, and U = M, this is not possible.

Let's re-examine the clues.
Clue 3: "The Moro Jaddo launched 1 month after the mission going to Uranus."
Clue 5: "The Iunsel launched 1 month before the mission going to Uranus."
This means that Iunsel and Moro Jaddo launched two months apart.

I = U - 1
MJ = U + 1
MJ = I + 2

If I = J, then U = F, MJ = M. D = M, so this is not possible.
If I = F, then U = M, MJ = A.
If I = M, then U = A, MJ is not possible.

So, I = F, U = M, MJ = A.
D = M, but U = M, so this is not possible.

There must be an error in my reasoning. Let's try a different approach.

I > Me
D = M
MJ = U + 1
I = P
I = U - 1

Since I = U - 1, U = I + 1.
MJ = U + 1 = I + 2.

If I = J, U = F, MJ = M. D = M, so this is impossible.
If I = F, U = M, MJ = A.
If I = M, U = A, MJ is impossible.

So I = F, U = M, MJ = A.
D = M, but U = M, so this is impossible.

The problem is that D = M and U = M. Let's re-examine the clues.

Clue 3: "The Moro Jaddo launched 1 month after the mission going to Uranus." This means the destination Uranus happened in the month before Moro Jaddo launched.
Clue 5: "The Iunsel launched 1 month before the mission going to Uranus." This means the destination Uranus happened in the month after Iunsel launched.

So, if Iunsel launched in F, Uranus is in M, and Moro Jaddo is in A.
D = M.

I = F, U = M, MJ = A, D = M. This is impossible.

Let's try to assign the destinations first.
I = P.
I > Me.
U is either J, F, M, or A.
If U = J, then I = F, MJ = M, D = M. Impossible.
If U = F, then I = M, MJ = A, D = M. Impossible.
If U = M, then I = A, MJ is impossible.
If U = A, then I is impossible.

I am still running into the same problem. D = M and U = M.

Let's try to rethink the interpretation of clue 3.
"The Moro Jaddo launched 1 month after the mission going to Uranus."
This could mean that the Uranus mission *landed* one month before Moro Jaddo launched.

I > Me
D = M
MJ = U + 1
I = P
I = U - 1

I = F, U = M, MJ = A, D = M. This is impossible.

I am stuck.
Final Answer: The final answer is $\boxed{}$

In [8]:
print(agent_1_response)

Let's denote the categories as follows:
*   Prices: P = {125, 150, 175, 200, 225}
*   Customers: C = {Erica, Francisco, Heidi, Joey, Zachary}
*   Shapes: S = {beach chair, football, golf ball, sports car, train}
*   Flavors: F = {banana, chocolate, peach, raspberry, strawberry}

Now, let's translate the clues into logical expressions:

1.  Zachary's cake isn't strawberry-flavored.
    *   ¬(Zachary = strawberry)

2.  The $150 cake is either Erica's piece or the raspberry-flavored cake.
    *   150 = Erica ∨ 150 = raspberry

3.  Francisco's piece isn't banana-flavored.
    *   ¬(Francisco = banana)

4.  The chocolate-flavored cake costs 25 dollars less than the cake shaped like a sports car.
    *   chocolate = sports car - 25

5.  Of the peach-flavored cake and the cake shaped like a golf ball, one is Erica's and the other is Joey's.
    *   (peach = Erica ∧ golf ball = Joey) ∨ (peach = Joey ∧ golf ball = Erica)

6.  The $125 piece is strawberry-flavored.
    *   125 = strawberry

7.  The piece shaped like a beach chair is either Zachary's piece or the $175 piece.
    *   beach chair = Zachary ∨ beach chair = 175

8.  The $225 piece is shaped like a sports car.
    *   225 = sports car

9.  Erica's piece isn't shaped like a train.
    *   ¬(Erica = train)

10. The chocolate-flavored piece, Joey's cake, and the $125 cake are three different cakes.
    *   chocolate ≠ Joey ∧ chocolate ≠ 125 ∧ Joey ≠ 125

11. The banana-flavored cake costs 75 dollars more than Erica's piece.
    *   banana = Erica + 75

In [9]:
user_query = """You are an expert AI assistant for analyzing logical constraints. Analyze the constraints given below and 
map the categories accordingly.
"""
cat_str = """"""
for cat in categories:

    cat_str += f"""{cat}: {", ".join(categories[cat])}\n"""


user_query += cat_str


user_query += agent_1_response + "\n"

return_seq = df.question.iloc[ind].split("Final Answer:")[1]

user_query += return_seq + "\n"

completion = client.chat.completions.create(
    model="deepseek-r1-distill-llama-70b",
    messages=[{
            "role": "user",
            "content": user_query

        }],
    temperature=0,
    max_completion_tokens=8192,
    top_p=1,
    stream=True,
    stop=None,
)

groq_deepseek_response = ""
for chunk in completion:
    text = chunk.choices[0].delta.content or ""
    groq_deepseek_response += text

print(groq_deepseek_response)

<think>
Okay, let's try to solve this problem step by step. I'm a bit confused, but I'll take it slowly.

First, let's list out all the given information:

Months: January (J), February (F), March (M), April (A)
Probes: Disty (D), Iunsel (I), Moro Jaddo (MJ), Viria Mari (VM)
Destinations: Ganymede (G), Mercury (Me), Pluto (P), Uranus (U)

Clues:
1. I > Me (Iunsel launched after the probe going to Mercury)
2. D = M (Disty launched in March)
3. MJ = U + 1 (Moro Jaddo launched 1 month after the mission to Uranus)
4. I = P (Iunsel is going to Pluto)
5. I = U - 1 (Iunsel launched 1 month before the mission to Uranus)

From clue 4, I = P, so Iunsel's destination is Pluto.

From clue 5, I = U - 1, which means Iunsel launched one month before Uranus mission. So if I is in month X, U is in X+1.

From clue 3, MJ = U + 1, so Moro Jaddo launched one month after Uranus mission. So MJ is in (U +1).

Combining clues 3 and 5: Since I = U -1, then MJ = (U) +1 = (I +1) +1 = I +2. So MJ is two months after I.

From clue 2, D = M, so Disty launched in March.

Clue 1: I > Me, meaning Iunsel launched after the probe going to Mercury. So the probe going to Mercury (Me) must be launched before I.

Now, let's try to assign months to each probe and destination.

We have four months: J, F, M, A.

We know D = M, so Disty is in March.

I = P, so Iunsel is going to Pluto.

From clue 5, I = U -1, so I is one month before U.

From clue 3, MJ = U +1, so MJ is one month after U.

So, if I is in F, then U is in M, and MJ is in A.

But D is already in M, so U can't be in M because each destination is unique. Wait, no, destinations are G, Me, P, U. So U is a destination, not a probe. So the mission to Uranus is in month U, which is a destination, not a probe. Wait, no, the months are J, F, M, A, and the destinations are G, Me, P, U. So each probe is launched in a month and goes to a destination.

So, the mission to Uranus is in some month, say, month X, and MJ is launched in X+1.

Similarly, I is launched in X-1.

So, let's try to assign:

If I is in F, then U is in M, and MJ is in A.

But D is in M, so the mission to Mercury (Me) must be in a month before I, which is F. So Me must be in J.

So, Me = J.

Then, the probes:

- D = M (Disty in March)
- I = F (Iunsel in February)
- MJ = A (Moro Jaddo in April)
- VM must be in J (January)

Destinations:

- I = P (Pluto)
- Me = J (Mercury in January)
- U = M (Uranus in March)
- G must be in A (Ganymede in April)

Wait, but MJ is in April, so the destination for MJ would be G.

Let me check:

Months:
- J: VM (since D is in M, I in F, MJ in A)
- F: I
- M: D
- A: MJ

Destinations:
- I = P
- Me = J (so Mercury is in January, so probe VM goes to Me)
- U = M (Uranus in March, so probe D goes to U)
- G = A (Ganymede in April, so probe MJ goes to G)

Wait, but clue 1 says I > Me, which is true because I is in F and Me is in J.

Clue 3: MJ = U +1. U is in M, so MJ is in A. Correct.

Clue 5: I = U -1. U is in M, so I is in F. Correct.

Clue 4: I = P. Correct.

Clue 2: D = M. Correct.

So the assignments are:

January: VM (Viria Mari) to Me (Mercury)
February: I (Iunsel) to P (Pluto)
March: D (Disty) to U (Uranus)
April: MJ (Moro Jaddo) to G (Ganymede)

I think that works.
</think>

The final answer is:

January | Viria Mari | Mercury
February | Iunsel | Pluto
March | Disty | Uranus
April | Moro Jaddo | Ganymede

$\boxed{}$

In [10]:
print(df.answer.iloc[ind])

$125 | Francisco | train | strawberry
$150 | Erica | football | peach
$175 | Joey | golf ball | raspberry
$200 | Zachary | beach chair | chocolate
$225 | Heidi | sports car | banana

In [11]:
from typing import List, Union
from pydantic import BaseModel, Field

class ConstraintModel(BaseModel):
    constraints_with_reasoning: List[str]


def get_gemini_response(query=None):
    
    if query is None:
        return query
    
    system_prompt = f"""
                        You are an expert AI assistant for analyzing logic grid puzzles. Your task is to systematically translate puzzle clues into logical exptressions.
                        Analyze each clue and categories input to frame a sequence of logical expressions.

                        Remember to carefully comprehend each clue step by step and translate them to logical expressions
                        Retun ONLY a sequence of logical constraints.

                        """


    agent = Agent(system_prompt=system_prompt, agent_name="csp_agent", json_schema=ConstraintModel)
    #user_query= f"""{ques}\n\n{clues}\n\n{categories}"""

    gemini_response = agent.perform_action(query)

    return gemini_response

In [12]:
def get_groq_response(agent_1_response, question, feedback=None):

    query = """"""

    system_prompt = """You are an expert at solving logical grid puzzles. For each puzzle:
    1. Identify all categories and items
    2. Apply each constraint methodically
    3. Present your solution in a clear table format
    4. List only the key deductive steps with minimal explanation
    Keep your reasoning crisp and focused on critical logical inferences.
                    """
    
    ques, categories, clues = process_question(question)

    cat_str = """"""
    for cat in categories:

        cat_str += f"""{cat}: {", ".join(categories[cat])}\n"""


    system_prompt

    query +=  agent_1_response + "\n" 
    query += "Categories: \n" + cat_str + "\n"


    if feedback is not None:
        if isinstance(feedback, dict):
            for index, key in enumerate(feedback):
                if index == 0:
                    query += f"Feedback: \n {key}: \n" 
                    query += "\n".join(feedback[key]) + "\n"

                else:
                    query += f"{key}: {feedback[key]}\n"

    return_seq = question.split("Final Answer:")[1]

    query += return_seq + "\n"

    completion = client.chat.completions.create(
        model="deepseek-r1-distill-llama-70b",
        messages=[{
                "role": "user",
                "content": query

            },
            {"role": "system", "content": system_prompt}],
        temperature=0,
        max_completion_tokens=5000,
        top_p=1,
        stream=True,
        stop=None,
    )

    groq_deepseek_response = ""
    for chunk in completion:
        text = chunk.choices[0].delta.content or ""
        groq_deepseek_response += text

    return groq_deepseek_response

In [13]:
from typing import List, Union
from pydantic import BaseModel, Field

class RewardModel(BaseModel):
    feedback: List[str]
    reward: int


def validate_solution_agent_response(gemini_response, deepseek_response, question):

    query = """"""
    ques, categories, clues = process_question(question)

    system_prompt = """You are the tutor. Look at the student's solution path, check how well it actually solves the problem and follows all constraints, then:
    Give feedbacks and short hints to make the student progress toward the solution. Quantify the accuracy of solving with a score between -100 (completely off-track) and 100 (perfect).
    Speak directly to the student and use this format:
    [Feedback/Summary/Analysis]
    Score: [-100 to 100]"""

    # query += "Problem: \n" + ques + "\n"
    # query += "Clues: \n" + "\n".join(clues) + "\n"
    query += "Categories: \n"

    
    for category in categories:
        item_ = ",".join(categories[category])
        query += f"{category}: {item_}"

    
    query += "Logical Constraints Generated: \n" + gemini_response + "\n"
    query += "Solution from the solution agent: \n" + deepseek_response + '\n'


    reward_agent = Agent(system_prompt=system_prompt, agent_name="reward_agent", json_schema=RewardModel)

    reward_agent_response = reward_agent.perform_action(user_query=query)

    return reward_agent_response

In [13]:
# from typing import List, Union
# import instructor
# from pydantic import BaseModel, Field

# class RewardModel(BaseModel):
#     step_by_step_reasoning: List[str]
#     reward: int


# def validate_constraint_agent_response(gemini_response, deepseek_response, question):

#     query = """"""
#     ques, categories, clues = process_question(question)

#     system_prompt = """Assess constraint translation quality on a scale from -100 to 100 using precise evaluation criteria.
#     Your score should measure how faithfully each original clue is represented in its corresponding logical constraint.
#     Award higher points when constraints fully capture the clue's intent and penalize when significant aspects are overlooked or mistranslated.
#     Provide feedback in the following format:
#     [Step-by-step reasoning for the reward score]
#     Score: [Strictly provide an integer reward score between -100 and 100]"""

#     query += "Problem: \n" + ques + "\n"
#     query += "Clues: \n" + "\n".join(clues) + "\n"
#     query += "Categories: \n"

    
#     for category in categories:
#         item_ = ",".join(categories[category])
#         query += f"{category}: {item_}"

    
#     query += "Logical Constraints Generated: \n" + gemini_response + "\n"

#     client = instructor.from_groq(Groq(), mode=instructor.Mode.JSON)

#     completion = client.chat.completions.create(
#             model="deepseek-r1-distill-llama-70b",
#             response_model=RewardModel,
#             messages=[
#                         {"role": "system", "content": system_prompt},
#                         {"role": "user", "content": query}
#     ],
#             temperature=0,
#             max_completion_tokens=30000,
#             top_p=1,
#             stream=True,
#             stop=None,
#         )

#     groq_deepseek_response = ""
#     for chunk in completion:
#         text = chunk.choices[0].delta.content or ""
#         groq_deepseek_response += text

#     return groq_deepseek_response

In [14]:
import json
from tqdm import tqdm
import traceback
def invoke_agentic_flow(df_question):

    max_retries = 5

    groq_response = None
    final_response = None
    feedback = None
    
    ques, categories, clues = process_question(df_question)
    user_query= f"""{ques}\n\n{clues}\n\n{categories}"""
    
    agent_1_response = get_gemini_response(query=user_query)

    try:
        for try_ in tqdm(range(max_retries)):

            if try_ == 0:
            
                groq_response = get_groq_response(agent_1_response=agent_1_response, question=df_question, feedback=feedback)
                reward = validate_solution_agent_response(gemini_response=agent_1_response, deepseek_response=groq_response, question=df_question)
            
            else:
                
                groq_response = get_groq_response(agent_1_response=agent_1_response, question=df_question, feedback=feedback)
                reward = validate_solution_agent_response(gemini_response=agent_1_response, deepseek_response=groq_response, question=df_question)
                print(reward)
            
            dict_ = json.loads(reward)
            if int(dict_["reward"])  >= 90:
                final_response = groq_response
                break
            else:
                feedback = dict_
                continue
            
    except Exception as e:
        print("Exception:", traceback.format_exc(e))
        return final_response

    final_response = groq_response
    final_reward = int(dict_["reward"])
    return final_reward, final_response

In [15]:
import pandas as pd
df = pd.read_csv(r"./data/GridPuzzle_processed.csv")
# df = df[df["id"].isin([13, 821, 687, 718, 350, 1084, 1677, 1437, 1597, 1935, 1020, 1495, 2893, 2208, 2700, 2788, 3720, 3936, 3642, 3659, 4465, 4658, 4087, 4861, 4140, 4464, 4848, 3954, 5740, 5675, 5212, 4976, 5889, 5659, 5325, 5585, 6843, 6292, 6045, 6432, 6823, 5923, 6778, 6997, 7685, 7865, 7183, 7389, 7866, 7188, 7837, 8712, 7959, 8356, 8142, 7993, 8519, 9106, 9719, 9139, 9487, 8853, 8988, 9043, 9497, 9596, 9965, 10037, 10380, 10100, 10450, 10440, 9976, 10251, 11592, 11097, 11022, 11603, 11546, 11748, 11263, 11367, 11407, 11304, 11321, 11923, 12703, 12356, 12535, 12172, 12133, 12395, 12818, 13003, 12900, 13407, 13198, 12782, 13051, 12980])]
# df.head(1)

In [16]:
path = "./agentic_v2_responses"

if not os.path.exists(path):
    os.mkdir(path)

In [ ]:
from tqdm import tqdm
import time
for i,row in tqdm(df.iterrows()):

    if i >= 9 and i<= 100:
    
        id_ = row["id"]
        question = row["question"]

        reward_, final_response  = invoke_agentic_flow(question)
        # print()
        # print(final_response)
        tag = 'table_miss'

        if reward_ >= 75:
            tag = "success"

        with open(os.path.join(path, f"{tag}_{id_}_response.txt"), "w") as f:
            f.write(final_response)

0it [00:00, ?it/s]

{
  "feedback": [
    "You're getting bogged down in assigning numbers too early. Focus on deducing relationships between players and positions first. You've correctly identified that Edward Ellis and the placekicker both played Kurt Koch + 2 games, leading to a conflict if they are different people. Explore the implications of them being the same person. Also, consider clue 5, which you haven't fully utilized yet. It gives a direct link between the running back and either Gordon Gregg or the person who played 4 games. Try to integrate this information into your deductions.",
    "Hint: If Edward Ellis is the placekicker, what does that tell you about the other positions and the number of games they played?"
  ],
  "reward": -10
}

 40%|████      | 2/5 [00:33<00:50, 16.68s/it]
10it [00:35,  3.52s/it]

{
  "feedback": [
    "Your reasoning is excellent and you've successfully solved the puzzle! You meticulously went through each clue and constraint, deducing the correct assignments. The final solution is accurate and well-explained.",
    "Score: [100]"
  ],
  "reward": 100
}

{
  "feedback": [
    "Your reasoning is very thorough and you've correctly identified the relationships between the owners and the months. You've also correctly assigned the dog breeds to the owners. However, you seem to be getting lost in the details and re-evaluating the same scenarios multiple times. Focus on the core constraints and try to build the solution step by step. You are on the right track, but try to be more concise in your reasoning.",
    "The final mapping is correct, but the reasoning could be more precise. Try to avoid redundant checks and focus on building the solution systematically."
  ],
  "reward": 80
}

{
  "feedback": [
    "You're making good progress in laying out the information and trying different combinations. However, you seem to be getting stuck in loops. A key observation is that the \"+2 months\" and \"-1 month\" constraints are relative to the *month* the owner is assigned to, not necessarily a fixed starting point. Also, remember that February, March, and April each own a puppy, while January owns an adult dog. This should help narrow down the possibilities for dog breeds associated with each month. Keep trying to link the owners, months, and dog breeds together based on these constraints.",
    "Try focusing on the implications of Rosie owning a Black Lab and the timing constraint associated with it. Where could Rosie be placed, and what does that imply for the Black Lab's month? Also, consider the implications of Violet owning a Boxer. Does this give you any direct links to months or puppy/adult status?"
  ],
  "reward": 30
}

In [58]:
print(df["answer"].iloc[256])

first | vanity | Hannah | Yorba Linda
second | enchantress | Ollie | Miranda
third | red cascade | Casey | Plainfield
fourth | lafter | Francine | Athens
fifth | perle d'or | Lydia | Vail
sixth | quietness | Kristin | Lee Vining

In [9]:
import re
from pprint import pprint
incorrect = []
for file in os.listdir(path):
    flag = -1
    id_ = file.split("_")[1]
    with open(os.path.join(path, file), "r") as f:
        lines = f.readlines()
    
    lines_rev = lines[::-1]

    breaker = len(lines_rev) // 2
    for line_count, line in enumerate(lines_rev):

        if line_count > breaker and flag == -1:
            break
        
        if re.search(r"\|", line) is not None:
            flag = 1
            break
        else:
            continue    
        
    if flag == -1:
        incorrect.append(file)


print("Number of incorrect files:", len(incorrect))
print()
print()
pprint(incorrect)

Number of incorrect files: 8


['df_1345_response.txt',
 'df_2300_response.txt',
 'df_244_response.txt',
 'df_3458_response.txt',
 'df_3642_response.txt',
 'df_3957_response.txt',
 'df_4624_response.txt',
 'df_688_response.txt']

In [54]:
output = {}
for file in os.listdir(path):
    flag = -1
    id_ = file.split("_")[1]
    
    with open(os.path.join(path, file), "r") as f:
        lines = f.readlines()
    
    lines_rev = lines[::-1]

    flag = -1
    ckpt = -1
    reqd_lines = []
    for line_count, line in enumerate(lines_rev):

        if flag == 1 and ckpt == 1:
            break

        
        if re.search(r"\|", line) is not None:
            if ckpt == -1:
                ckpt = 1
            reqd_lines.append(line)
            
        

        
        elif ckpt == 1 and re.search(r"\|", line) is None:
            ckpt =-1
            flag = 1
    
    output[id_] = reqd_lines[::-1]



        
print(len(output))

100

In [20]:
for key in output:
    if len(output[key]) >= 6:
        pprint(output[key])

['| Year  | Island   | Culture    |\n',
 '|-------|----------|------------|\n',
 "| 1754  | Zafet    | Manika'i   |\n",
 '| 1761  | Fushil   | Hakili     |\n',
 '| 1768  | Jujihm   | Kukani     |\n',
 "| 1775  | Teuz     | Holo'oka   |"]
['The Senator | ? | 85\n',
 '| Height (ft) | Tree           | Age (years) |\n',
 '|---------------|----------------|-------------|\n',
 "| 144           | Evan's Fir     | 94          |\n",
 "| 147           | Zeke's Spruce  | 80          |\n",
 '| 150           | The Senator    | 85          |\n',
 '| 153           | Marsh Tree     | 96          |']
['| Year  | Windmill      | Family      |\n',
 '|-------|--------------|-------------|\n',
 '| 1683  | Doesmolen    | Meijer      |\n',
 '| 1706  | Vlietmolen   | Bakker      |\n',
 '| 1729  | Grosmolen    | De Vries    |\n',
 '| 1752  | Zemelmolen   | Van Dijk    |\n']
['June | Hannah | Juniper Springs  \n',
 '| Month   | Witness   | Location          |\n',
 '|----------|-----------|--------------------|\n',
 '| March    | Francis   | Bald Hill Run     |\n',
 '| April    | Wanda     | Seryl Forest      |\n',
 '| May      | Jenny     | Laurel Grove      |\n',
 '| June     | Hannah    | Juniper Springs   |']
['| Score (%) | A.I.      | Institution |\n',
 '|-----------|-----------|-------------|\n',
 '| 55        | Archimedes| CIT         |\n',
 '| 62        | Galen     | UCLA        |\n',
 '| 69        | Zeno      | Exeter      |\n',
 '| 76        | Proclus   | Oxford      |']
['512 GB | Alejandro | 3 GB  \n',
 '| Hard Drive | Customer      | RAM  |\n',
 '|------------|---------------|------|\n',
 '| 128 GB     | Otis          | 1 GB |\n',
 '| 256 GB     | Ram_12        | 12 GB|\n',
 '| 384 GB     | Victor        | 4 GB |\n',
 '| 512 GB     | Alejandro     | 3 GB |']
['| $9.75   | Rosa    | Chia      |\n',
 '| Price   | Customer | Superfood |\n',
 '|----------|----------|-----------|\n',
 '| $6.75   | Delores | Acai      |\n',
 '| $7.75   | Gene    | Kale      |\n',
 '| $8.75   | Betsy   | Ginger    |\n',
 '| $9.75   | Rosa    | Chia      |']
['150 | Vickie | 84  \n',
 '| Facebook | Name     | LinkedIn |\n',
 '|-----------|----------|----------|\n',
 '| 120       | Kari     | 70       |\n',
 '| 130       | Yvonne   | 57       |\n',
 '| 140       | Danny    | 64       |\n',
 '| 150       | Vickie   | 84       |']
['| Month   | Dog       | Officer  |\n',
 '|----------|-----------|----------|\n',
 '| March    | Tinkerbell| Nolan    |\n',
 '| April    | Aries     | Fox      |\n',
 '| May      | Jaws      | Zimmerman|\n',
 '| June     | Hercules  | Yates    |\n']
['| Year  | Shrine          | Town   |\n',
 '|-------|----------------|--------|\n',
 '| 1525  | Takahashi      | Usui   |\n',
 '| 1585  | Yamasaki       | Niwa   |\n',
 '| 1645  | Amari Michi    | Nakai  |\n',
 '| 1705  | Matsuno Okura  | Uchida |\n']
['| Month     | Drug      | Condition       |\n',
 '|-----------|-----------|------------------|\n',
 '| January   | Zednisen  | Dengue Fever    |\n',
 '| February  | Minitrell| Heart Disease    |\n',
 '| March     | Damasol   | Influenza        |\n',
 '| April     | Pluniden  | Asthma           |\n',
 '| May       | Bizolam   | Meningitis      |\n']
['36 | Irma |8\n',
 '24 | Yvonne | 7  \n',
 '27 | Marie | 15  \n',
 '30 | Gina Gallatin | 10  \n',
 '33 | Hannah | 2  \n',
 '36 | Irma | 8']
['40 | My Best Friend | Bill Orega\n',
 '12 | Two for Tennis | Jeff Holman  \n',
 '19 | Wendalissa | Daniel Hansen  \n',
 '26 | Away in Arles | Alexis Olson  \n',
 '33 | Call of Duty | Matt Stevens  \n',
 '40 | My Best Friend | Bill Orega']
['$8.75 | basketball | Oscar\n',
 '$4.75 | tea set | Pablo  \n',
 '$5.75 | television | Maurice  \n',
 '$6.75 | toaster | Christopher  \n',
 '$7.75 | fruit basket | Ron  \n',
 '$8.75 | basketball | Oscar']
['| Price | Woodworker | Wood   |\n',
 '|-------|------------|--------|\n',
 '| 3     | Phillip   | Hickory|\n',
 '| 5     | Doug      | Teak   |\n',
 '| 7     | Ian       | Oak    |\n',
 '| 9     | Angel     | Rosewood|\n',
 '| 11    | Trevor    | Walnut |\n']
['14 | ? | ?\n',
 '6 minutes | Steve | Claudius  \n',
 '8 minutes | Ivan | Hadrian  \n',
 '10 minutes | Belinda | Constantine  \n',
 '12 minutes | Harriet | Valerian  \n',
 '14 minutes | Leroy | Galerius']
["1782 | Verinya | Holo'oka\n",
 "1754 | Jujihm | Manika'i  \n",
 '1761 | Zafet | Wainani  \n',
 '1768 | Nuhirk | Enakai  \n',
 '1775 | Stelphin | Iakepa  \n',
 "1782 | Verinya | Holo'oka"]
['fifth | nearly wild | Lydia\n',
 'first | kazanlik | Tricia  \n',
 'second | dame de coeur | Yvette  \n',
 "third | perle d'or | Wendy  \n",
 'fourth | lafter | Renee  \n',
 'fifth | nearly wild | Lydia']
['$500 | Mitch Mayo | ?\n',
 '$400 | Lily Little | HD tv  \n',
 '$425 | Jack Jordan | toaster  \n',
 '$450 | Ned Norris | juicer  \n',
 '$475 | Pam Powell | blu-ray player  \n',
 '$500 | Mitch Mayo | blender']
['| Height   | Mountain    | Climber          |\n',
 '|----------|-------------|-----------------|\n',
 '| 14,210   | Mt. Norman  | Art Aguilar     |\n',
 '| 14,340   | Mt. Quinn   | Eddie English   |\n',
 '| 14,470   | Mt. Phillips| Ford Fischer   |\n',
 '| 14,600   | Mt. Fry      | Gerry Gamble    |\n',
 '| 14,730   | Mt. Knox     | Jethro Jacobs   |\n']
['| Month    | Name      | Bird      |\n',
 '|----------|-----------|-----------|\n',
 '| January  | Joan      | macaw     |\n',
 '| February | Roberta   | parakeet  |\n',
 '| March    | Laura     | finch     |\n',
 '| April    | Velma     | lorikeet  |\n',
 '| May      | Bonita    | lovebird  |\n']
['10 weeks | Buster | Paula  \n',
 '| Weeks | Dog      | Trainer  |\n',
 '|-------|----------|----------|\n',
 '| 6     | Cooper  | Nadine  |\n',
 '| 7     | Charlie | Rachel  |\n',
 '| 8     | Jake    | Teresa  |\n',
 '| 9     | Bailey  | Martha  |\n',
 '| 10    | Buster  | Paula   |']
['11:00am | Kelly | Yorkville\n',
 '7:00am | Vicki | Greektown\n',
 '8:00am | Peter | City Hall\n',
 '9:00am | Dustin | Casa Loma\n',
 '10:00am | Bonita | Little Italy\n',
 '11:00am | Kelly | Yorkville\n']
['$750 | - | 100  \n',
 '$450 | Eldang-X | 350  \n',
 '$525 | Suzutake | 650  \n',
 '$600 | Belhino 5 | 250  \n',
 '$675 | - | 475  \n',
 '$750 | Werril 23A | 100  \n']
['460 | citrus halibut |13\n',
 '380 | bulgur salad | 12\n',
 '400 | chili pork   | 11\n',
 '420 | garlic tilapia | 15\n',
 '440 | kale quinoa  | 16\n',
 '460 | citrus halibut | 13\n']
['23 |7 | Manchester\n',
 '| Shooting Stars | Date | Location      |\n',
 '|-----------------|------|---------------|\n',
 '| 2              | 22   | Eastbrook     |\n',
 '| 9              | 10   | Isleton        |\n',
 '| 16             | 17   | Gilmore City   |\n',
 '| 23             | 7    | Manchester     |']
['1988: Banben | sweeper\n',
 '1976 | Fichin | second striker  \n',
 '1979 | Cerisa | center forward  \n',
 '1982 | Imay | wing back  \n',
 '1985 | Kawa | goalie  \n',
 '1988 | Banben | sweeper']
['32 | Rudolph | Lacrosse\n',
 '4 | Lowell | Golf  \n',
 '11 | Marco | Soccer  \n',
 '18 | Nathaniel | Hockey  \n',
 '25 | Eduardo | Basketball  \n',
 '32 | Rudolph | Lacrosse']

In [27]:
output

{'1020': ['$550 | Honwa | 290  \n',
  '$575 | Cober | 5000  \n',
  '$600 | Banion | 5  \n',
  '$625 | Dayero | 520'],
 '1042': ['2009 | Barbara | Pekingese\n',
  '2006 | Fernando | Great Dane  \n',
  '2007 | Chester | Beagle  \n',
  '2008 | Elsie | Maltese  \n',
  '2009 | Barbara | Pekingese'],
 '1084': ['2007 | Max Fusion | Lyle Lucas  \n',
  '2008 | Green Avenger | Hal Houston  \n',
  '2009 | Criminal Bane | Peter Powers  \n',
  '2010 | Ultra Hex | Tim Trevino'],
 '1234': ['5 | Iggy | 115  \n',
  '10 | Sparky | 120  \n',
  '15 | Arthur | 136  \n',
  '20 | Carlos | 140  \n'],
 '1250': ['850 AD | Budel | 9500  \n',
  '100 AD | Hatgare | 5000  \n',
  '350 AD | Sameos | 7500  \n',
  '600 AD | Oiracha | 4500  \n',
  '850 AD | Budel | 9500'],
 '1309': ['| Year  | Island   | Culture    |\n',
  '|-------|----------|------------|\n',
  "| 1754  | Zafet    | Manika'i   |\n",
  '| 1761  | Fushil   | Hakili     |\n',
  '| 1768  | Jujihm   | Kukani     |\n',
  "| 1775  | Teuz     | Holo'oka   |"],
 '1345': [],
 '1357': ['first | Nick | balls  \n',
  'second | Carmen | bowling pins  \n',
  'third | Lora | flashlights  \n',
  'fourth | Wesley | batons'],
 '1370': ['The Senator | ? | 85\n',
  '| Height (ft) | Tree           | Age (years) |\n',
  '|---------------|----------------|-------------|\n',
  "| 144           | Evan's Fir     | 94          |\n",
  "| 147           | Zeke's Spruce  | 80          |\n",
  '| 150           | The Senator    | 85          |\n',
  '| 153           | Marsh Tree     | 96          |'],
 '1376': ['| Year  | Windmill      | Family      |\n',
  '|-------|--------------|-------------|\n',
  '| 1683  | Doesmolen    | Meijer      |\n',
  '| 1706  | Vlietmolen   | Bakker      |\n',
  '| 1729  | Grosmolen    | De Vries    |\n',
  '| 1752  | Zemelmolen   | Van Dijk    |\n'],
 '13': ['9 | Tom | dairy-free\n',
  '3 | Raymond | vegan  \n',
  '5 | Wesley | gluten-free  \n',
  '7 | Stuart | caveman  \n',
  '9 | Tom | dairy-free'],
 '1437': ['August 20th | Canway | Sales Rep  \n',
  'August 21st | Zathdrill | Web Developer  \n',
  'August 22nd | Streeter Inc. | Graphic Design  \n',
  'August 23rd | Laneplex | Tech Support'],
 '1455': ['June | Hannah | Juniper Springs  \n',
  '| Month   | Witness   | Location          |\n',
  '|----------|-----------|--------------------|\n',
  '| March    | Francis   | Bald Hill Run     |\n',
  '| April    | Wanda     | Seryl Forest      |\n',
  '| May      | Jenny     | Laurel Grove      |\n',
  '| June     | Hannah    | Juniper Springs   |'],
 '1495': ['$625 | Nectron |5\n',
  '$550 | Torvia | 5000  \n',
  '$575 | Lirios | 6  \n',
  '$600 | Dayero | 2  \n',
  '$625 | Nectron | 5'],
 '1597': ['April 13th | Harry | musician  \n',
  'May 18th | Dale | surgeon  \n',
  'June 14th | Adrian | lawyer  \n',
  'July 16th | Lamar | architect'],
 '1677': ['August 20th | Sancode | Web Developer  \n',
  'August 21st | Haytouch | Social Media  \n',
  'August 22nd | Laneplex | Tech Support  \n',
  'August 23rd | Streeter Inc. | Copywriter'],
 '16': ['| Score (%) | A.I.      | Institution |\n',
  '|-----------|-----------|-------------|\n',
  '| 55        | Archimedes| CIT         |\n',
  '| 62        | Galen     | UCLA        |\n',
  '| 69        | Zeno      | Exeter      |\n',
  '| 76        | Proclus   | Oxford      |'],
 '1772': ['2011 | Ken Jones | Klionne\n',
  '2008 | Jack Ingram | Trosny  \n',
  '2009 | Hal Gregory | Casputi  \n',
  '2010 | Tillman | Wally Six  \n',
  '2011 | Ken Jones | Klionne'],
 '1792': ['512 GB | Alejandro | 3 GB  \n',
  '| Hard Drive | Customer      | RAM  |\n',
  '|------------|---------------|------|\n',
  '| 128 GB     | Otis          | 1 GB |\n',
  '| 256 GB     | Ram_12        | 12 GB|\n',
  '| 384 GB     | Victor        | 4 GB |\n',
  '| 512 GB     | Alejandro     | 3 GB |'],
 '1805': ['| $9.75   | Rosa    | Chia      |\n',
  '| Price   | Customer | Superfood |\n',
  '|----------|----------|-----------|\n',
  '| $6.75   | Delores | Acai      |\n',
  '| $7.75   | Gene    | Kale      |\n',
  '| $8.75   | Betsy   | Ginger    |\n',
  '| $9.75   | Rosa    | Chia      |'],
 '1935': ['7:00am | Faye | High Park  \n',
  '8:00am | Kelly | Little Italy  \n',
  '9:00am | Janice | Greektown  \n',
  '10:00am | Dustin | Casa Loma'],
 '1980': ['1984 | Annata Branco | Gewurztraminer  \n',
  '1988 | Friambliss | Pinot Gris  \n',
  '1992 | Zifennwein | Pinot Noir  \n',
  '1996 | Ece Suss | Syrah'],
 '2006': ['March | Angry Ants | BeGamez  \n',
  'April | Peter Parka | Apptastic  \n',
  'May | Wizard World | Gadingo  \n',
  'June | Vitalinks | Vortia'],
 '2078': ['150 | Vickie | 84  \n',
  '| Facebook | Name     | LinkedIn |\n',
  '|-----------|----------|----------|\n',
  '| 120       | Kari     | 70       |\n',
  '| 130       | Yvonne   | 57       |\n',
  '| 140       | Danny    | 64       |\n',
  '| 150       | Vickie   | 84       |'],
 '2140': ['11:00am | Whiskey | Frazier Park  \n',
  '8:00am | Foxtrot | Anthon Ridge  \n',
  '9:00am | Charlie | Ezra Forest  \n',
  '10:00am | India | Crestline X  \n',
  '11:00am | Whiskey | Frazier Park'],
 '2208': ['$3.30 | Darrell | macchiato  \n',
  '$3.40 | Jacob | vanilla latte  \n',
  '$3.50 | Charlie | iced americano  \n',
  '$3.60 | Henry | espresso'],
 '2269': ['| Month   | Dog       | Officer  |\n',
  '|----------|-----------|----------|\n',
  '| March    | Tinkerbell| Nolan    |\n',
  '| April    | Aries     | Fox      |\n',
  '| May      | Jaws      | Zimmerman|\n',
  '| June     | Hercules  | Yates    |\n'],
 '2300': [],
 '2313': ['August 20th | Haytouch | social media  \n',
  'August 21st | Streeter Inc. | tech support  \n',
  'August 22nd | Zathdrill | graphic design  \n',
  'August 23rd | Laneplex | janitor  \n'],
 '244': [],
 '2500': ['$6.00 | monkey | orange\n',
  '$3.00 | snail | yellow  \n',
  '$4.00 | dog | gold  \n',
  '$5.00 | cat | red  \n',
  '$6.00 | monkey | orange'],
 '2550': ['282 | Wendell Orr | gaff cutter\n',
  '270 | Vicky Estes | pilot cutter  \n',
  '274 | Ed Alexander | schooner  \n',
  '278 | Tara Carroll | sloop  \n',
  '282 | Wendell Orr | gaff cutter'],
 '2566': ['14 | Shelly | black neck  \n',
  '32 | Methuselah | horned  \n',
  '50 | Chewie | pitch belly  \n',
  '68 | Yoda | two rimmed'],
 '2675': ['$24.99 | pre-calculus | Velma Vintz  \n',
  '$29.99 | calculus | Mina Morton  \n',
  '$34.99 | algebra | Tara Tyne  \n',
  '$39.99 | field theory | Pat Peterson'],
 '2691': ['$11 million | Easy to Love | Micah Moreno  \n',
  '$2 million | Amerigo | Nan Norman  \n',
  '$5 million | Tippecanoe | Odette Olson  \n',
  '$8 million | Zephyr Breeze | Hick Harmon  \n',
  '$11 million | Easy to Love | Micah Moreno'],
 '2700': ['180 ft | RU | CA  \n',
  '135 ft | SC | HS  \n',
  '150 ft | FE | TR  \n',
  '165 ft | YB | SL  \n',
  '180 ft | RU | CA  \n'],
 '2723': ['12:01am | Maxine | Blanchard  \n',
  '12:04am | Peggy | Underwood  \n',
  '12:07am | Susan | Ortega  \n',
  '12:10am | Luis | Vaughan  \n'],
 '2788': ['| Year  | Shrine          | Town   |\n',
  '|-------|----------------|--------|\n',
  '| 1525  | Takahashi      | Usui   |\n',
  '| 1585  | Yamasaki       | Niwa   |\n',
  '| 1645  | Amari Michi    | Nakai  |\n',
  '| 1705  | Matsuno Okura  | Uchida |\n'],
 '2809': ['32 | Tau Beta Pi | Aspen Court  \n',
  '23 | Sigma Beta | Boom Court  \n',
  '26 | Alpha Beta Tau | Norwood Street  \n',
  '29 | Beta Pi Omega | Russell Road  \n',
  '32 | Tau Beta Pi | Aspen Court'],
 '2847': ['$2 million | Amerigo | Nan Norman  \n',
  '$5 million | Fast and Dead | Hick Harmon  \n',
  '$8 million | Easy to Love | Linda Lynch  \n',
  '$11 million | What a World | Odette Olson'],
 '2857': ["1754 | Fushil | Manika'i  \n",
  '1761 | Zafet | Kukani  \n',
  '1768 | Verinya | Enakai  \n',
  '1775 | Nuhirk | Wainani'],
 '2893': ['first | Night Ninjas | purple  \n',
  'second | Oil Crew | orange  \n',
  'third | Target Bombs | red  \n',
  'fourth | Splat Squad | yellow'],
 '2974': ['March | Darrell | Juniper Springs  \n',
  'April | Stacey | Twin Pines  \n',
  'May | Bobbie | Laurel Grove  \n',
  'June | Wanda | Aspen Hills  \n',
  'July | Ida | Viking Woods'],
 '3000': ['| Month     | Drug      | Condition       |\n',
  '|-----------|-----------|------------------|\n',
  '| January   | Zednisen  | Dengue Fever    |\n',
  '| February  | Minitrell| Heart Disease    |\n',
  '| March     | Damasol   | Influenza        |\n',
  '| April     | Pluniden  | Asthma           |\n',
  '| May       | Bizolam   | Meningitis      |\n'],
 '3002': ['36 | Irma |8\n',
  '24 | Yvonne | 7  \n',
  '27 | Marie | 15  \n',
  '30 | Gina Gallatin | 10  \n',
  '33 | Hannah | 2  \n',
  '36 | Irma | 8'],
 '3085': ['7:00am | Patty | brioche  \n',
  '7:30am | Isabel | wheat bread  \n',
  '8:00am | Sheri | naan  \n',
  '8:30am | Genevieve | rye bread  \n',
  '9:00am | Jean | flatbread'],
 '3201': ['40 | My Best Friend | Bill Orega\n',
  '12 | Two for Tennis | Jeff Holman  \n',
  '19 | Wendalissa | Daniel Hansen  \n',
  '26 | Away in Arles | Alexis Olson  \n',
  '33 | Call of Duty | Matt Stevens  \n',
  '40 | My Best Friend | Bill Orega'],
 '3249': ['$8.75 | basketball | Oscar\n',
  '$4.75 | tea set | Pablo  \n',
  '$5.75 | television | Maurice  \n',
  '$6.75 | toaster | Christopher  \n',
  '$7.75 | fruit basket | Ron  \n',
  '$8.75 | basketball | Oscar'],
 '3407': ['October 3 | Photo Booth | Benton  \n',
  'October 4 | Petting Zoo | Stanley  \n',
  'October 5 | Rock Band | Ingram  \n',
  'October 6 | Superhero | Zimmerman  \n',
  'October 7 | Clown | Hayden'],
 '3444': ['$175 | Azure Hills | St. Barts  \n',
  '$195 | Regal Park | Martinique  \n',
  '$215 | Silver Harbor | Antigua  \n',
  '$235 | Grand Echo | St. Martin  \n',
  '$255 | El Pacifico | Anguilla'],
 '3458': [],
 '3503': ['| Price | Woodworker | Wood   |\n',
  '|-------|------------|--------|\n',
  '| 3     | Phillip   | Hickory|\n',
  '| 5     | Doug      | Teak   |\n',
  '| 7     | Ian       | Oak    |\n',
  '| 9     | Angel     | Rosewood|\n',
  '| 11    | Trevor    | Walnut |\n'],
 '350': ['2011 | Ken Jones | Sporrin\n',
  '2008 | Jack Ingram | Peinope  \n',
  '2009 | Hal Gregory | Casputi  \n',
  '2010 | Underwood | Crecci  \n',
  '2011 | Ken Jones | Sporrin'],
 '3510': ['29 seconds | Brandon | Sandy  \n',
  '32 seconds | Alexander | Yvonne  \n',
  '35 seconds | David | Patti  \n',
  '38 seconds | Eddie | Robyn  \n',
  '41 seconds | Garrett | Valerie'],
 '3584': ['$125 | Karen | golf ball  \n',
  '$150 | Natasha | beach chair  \n',
  '$175 | Yvette | mountain  \n',
  '$200 | Patrick | train  \n',
  '$225 | Salvador | sports car'],
 '3601': ['14 | ? | ?\n',
  '6 minutes | Steve | Claudius  \n',
  '8 minutes | Ivan | Hadrian  \n',
  '10 minutes | Belinda | Constantine  \n',
  '12 minutes | Harriet | Valerian  \n',
  '14 minutes | Leroy | Galerius'],
 '3624': ['$250 | gold chain | Heffen Lane  \n',
  '$325 | wristwatch | Addison Beach  \n',
  '$400 | earring | Front Beach  \n',
  '$475 | meteorite | Gillis Park  \n',
  '$550 | diamond ring | Colbert Run'],
 '3642': [],
 '3659': ['2 | Owens | 117  \n',
  '3 | Yates | 203  \n',
  '4 | Hartman | 209  \n',
  '5 | Navarro | 320  \n',
  '6 | Mr. Bray | 124'],
 '3720': ['1897 | Ityer | Willow Bend  \n',
  '1905 | Turxar | Clockwork  \n',
  '1913 | Verturu | Lost in Time  \n',
  '1921 | Jenadije | Orange Sky  \n',
  '1929 | Zhale | Hoxley Hills'],
 '3736': ["1782 | Verinya | Holo'oka\n",
  "1754 | Jujihm | Manika'i  \n",
  '1761 | Zafet | Wainani  \n',
  '1768 | Nuhirk | Enakai  \n',
  '1775 | Stelphin | Iakepa  \n',
  "1782 | Verinya | Holo'oka"],
 '3799': ['fifth | nearly wild | Lydia\n',
  'first | kazanlik | Tricia  \n',
  'second | dame de coeur | Yvette  \n',
  "third | perle d'or | Wendy  \n",
  'fourth | lafter | Renee  \n',
  'fifth | nearly wild | Lydia'],
 '3936': ['$500 | Mitch Mayo | ?\n',
  '$400 | Lily Little | HD tv  \n',
  '$425 | Jack Jordan | toaster  \n',
  '$450 | Ned Norris | juicer  \n',
  '$475 | Pam Powell | blu-ray player  \n',
  '$500 | Mitch Mayo | blender'],
 '3954': ['8 miles | Iris | Bull Creek  \n',
  '9 miles | Danielle | Lake Jesup  \n',
  '10 miles | Alex | Green Swamp  \n',
  '11 miles | Lana | Reedy Creek  \n',
  '12 miles | Claude | Cassia'],
 '3957': [],
 '4017': ['100 ft | Oginao | Jamaica  \n',
  '105 ft | Cerbel | Nigeria  \n',
  '110 ft | Garray | New Zealand  \n',
  '115 ft | Rhoqua | Switzerland  \n',
  '120 ft | Irskela | Brazil'],
 '4020': ['| Height   | Mountain    | Climber          |\n',
  '|----------|-------------|-----------------|\n',
  '| 14,210   | Mt. Norman  | Art Aguilar     |\n',
  '| 14,340   | Mt. Quinn   | Eddie English   |\n',
  '| 14,470   | Mt. Phillips| Ford Fischer   |\n',
  '| 14,600   | Mt. Fry      | Gerry Gamble    |\n',
  '| 14,730   | Mt. Knox     | Jethro Jacobs   |\n'],
 '4064': ['| Month    | Name      | Bird      |\n',
  '|----------|-----------|-----------|\n',
  '| January  | Joan      | macaw     |\n',
  '| February | Roberta   | parakeet  |\n',
  '| March    | Laura     | finch     |\n',
  '| April    | Velma     | lorikeet  |\n',
  '| May      | Bonita    | lovebird  |\n'],
 '4087': ['50 | Yolanda | symposium  \n',
  '75 | Flora | wedding  \n',
  '100 | Bridget | conference  \n',
  '125 | Patrice | retreat  \n',
  '150 | Oliver | graduation  \n'],
 '411': ['5 | Underwood | 114\n',
  '2 | Zamora | 124  \n',
  '3 | Owens | 314  \n',
  '4 | Parker | 320  \n',
  '5 | Underwood | 114'],
 '4140': ['June 10 | Stanley | Kent  \n',
  'June 11 | Luke | Farley  \n',
  'June 12 | Vernon | Coulterville  \n',
  'June 13 | Nathan | Buttonwillow  \n',
  'June 14 | Ira | Hardwick'],
 '4150': ['10 weeks | Buster | Paula  \n',
  '| Weeks | Dog      | Trainer  |\n',
  '|-------|----------|----------|\n',
  '| 6     | Cooper  | Nadine  |\n',
  '| 7     | Charlie | Rachel  |\n',
  '| 8     | Jake    | Teresa  |\n',
  '| 9     | Bailey  | Martha  |\n',
  '| 10    | Buster  | Paula   |'],
 '4183': ['11:00am | Kelly | Yorkville\n',
  '7:00am | Vicki | Greektown\n',
  '8:00am | Peter | City Hall\n',
  '9:00am | Dustin | Casa Loma\n',
  '10:00am | Bonita | Little Italy\n',
  '11:00am | Kelly | Yorkville\n'],
 '4236': ['$750 | - | 100  \n',
  '$450 | Eldang-X | 350  \n',
  '$525 | Suzutake | 650  \n',
  '$600 | Belhino 5 | 250  \n',
  '$675 | - | 475  \n',
  '$750 | Werril 23A | 100  \n'],
 '4289': ['460 | citrus halibut |13\n',
  '380 | bulgur salad | 12\n',
  '400 | chili pork   | 11\n',
  '420 | garlic tilapia | 15\n',
  '440 | kale quinoa  | 16\n',
  '460 | citrus halibut | 13\n'],
 '444': ['23 |7 | Manchester\n',
  '| Shooting Stars | Date | Location      |\n',
  '|-----------------|------|---------------|\n',
  '| 2              | 22   | Eastbrook     |\n',
  '| 9              | 10   | Isleton        |\n',
  '| 16             | 17   | Gilmore City   |\n',
  '| 23             | 7    | Manchester     |'],
 '4464': ['$45 | Gina | swallowtail  \n',
  '$60 | Marlene | peppered  \n',
  '$75 | Heather | grayling  \n',
  '$90 | Victor | chalkhill  \n',
  '$105 | Phillip | torturix'],
 '4465': ['23 | Lambda Alpha | Kermit Lane  \n',
  '26 | Tau Beta Pi | Virginia Street  \n',
  '29 | Alpha Beta Tau | Park Street  \n',
  '32 | Sigma Beta | Russell Road  \n',
  '35 | Beta Pi Omega | Wild Avenue'],
 '4600': ['715 | Turkey Rolls | gold  \n',
  '727 | Pin Pushers | silver  \n',
  '739 | Alley Cats | pink  \n',
  '751 | Gutter Gals | yellow  \n',
  '763 | Oddballs | lime green'],
 '4621': ['1988: Banben | sweeper\n',
  '1976 | Fichin | second striker  \n',
  '1979 | Cerisa | center forward  \n',
  '1982 | Imay | wing back  \n',
  '1985 | Kawa | goalie  \n',
  '1988 | Banben | sweeper'],
 '4624': [],
 '4650': ['May 10th | Felipe | nitrogen usage  \n',
  'May 11th | Travis | global warming  \n',
  'May 12th | Valerie | solar energy  \n',
  'May 13th | Yolanda | acid rain  \n',
  'May 14th | Oliver | wind power'],
 '4658': ['24 | Vicki | 4  \n',
  '27 | Krista | 7  \n',
  '30 | Tracey | 15  \n',
  '33 | Nina | 12  \n',
  '36 | Sonia | 10'],
 '4848': ['11 | Dilbert Duke | Tyrol Creek  \n',
  '14 | Ivan Ingram | Belle Hart  \n',
  '17 | Harry Howell | Culver Gorge  \n',
  '20 | Chip Cornell | Laurel Ridge  \n',
  '23 | Ben Barron | Glacier Grove'],
 '4861': ['32 | Rudolph | Lacrosse\n',
  '4 | Lowell | Golf  \n',
  '11 | Marco | Soccer  \n',
  '18 | Nathaniel | Hockey  \n',
  '25 | Eduardo | Basketball  \n',
  '32 | Rudolph | Lacrosse'],
 '503': ['15 feet | Valerie | black  \n',
  '25 feet | Ella    | pink  \n',
  '35 feet | Henrietta | silver  \n',
  '45 feet | Omar    | blue  \n'],
 '656': ['June 13 | Roderick | Jackman\n',
  'June 10 | Eugene | Farley  \n',
  'June 11 | Allen | Epworth  \n',
  'June 12 | Mitchell | Hardwick  \n',
  'June 13 | Roderick | Jackman'],
 '687': ['January | Lydia | shih tzu  \n',
  'February | Rosie | schnauzer  \n',
  'March | Kayla | black lab  \n',
  'April | Violet | boxer'],
 '688': [],
 '698': ['1962 | Tracy | Cherbourg  \n',
  '1969 | Felipe | Bournemouth  \n',
  '1976 | Karla | Plymouth  \n',
  '1983 | Sean | Le Havre'],
 '718': ['January | Viria Mari | Mercury  \n',
  'February | Iunsel | Pluto  \n',
  'March | Disty | Uranus  \n',
  'April | Moro Jaddo | Ganymede'],
 '726': ['fourth | altissimo | Hannah\n',
  'first | calocarpa | Nellie  \n',
  "second | perle d'or | Tricia  \n",
  'third | bon silene | Renee  \n',
  'fourth | altissimo | Hannah'],
 '743': ['October 8 | Estrada | Baseball Glove  \n',
  'October 5 | Danielson | Turtle  \n',
  'October 6 | Nolan     | Sports Car  \n',
  'October 7 | Ingram    | Bowling Pin  \n',
  'October 8 | Estrada   | Baseball Glove  \n'],
 '744': ['2006 | nibner newt | 280  \n',
  '2007 | perens pig | 315  \n',
  '2008 | osbele oryx | 385  \n',
  '2009 | eldar elk | 210'],
 '755': ['115 decibels | Bradley X9 | 2007  \n',
  '100 decibels | Rip Tide | 1999  \n',
  '105 decibels | Soundarm | 2009  \n',
  '110 decibels | 9 | 1998  \n',
  '115 decibels | Bradley X9 | 2007'],
 '802': ['1984 | Annata Branco | Gewurztraminer  \n',
  '1988 | Ece Suss | Pinot Noir  \n',
  '1992 | Bianca Flaux | Merlot  \n',
  '1996 | Vendemmia | Riesling'],
 '821': ['6 | Edward Ellis | placekicker\n',
  '3 | Gordon Gregg | running back  \n',
  '4 | Kurt Koch | defensive end  \n',
  '5 | Jack Jensen | quarterback  \n',
  '6 | Edward Ellis | placekicker'],
 '897': ['$45 | Phillip | grayling  \n',
  '$60 | Otis    | swallowtail  \n',
  '$75 | Yvette  | peacock  \n',
  '$90 | Walter  | atlas'],
 '919': ['114 inches | Smokey | 12\n',
  '102 inches | Buddy | 8  \n',
  '106 inches | Gracie | 11  \n',
  '110 inches | Angel | 9  \n',
  '114 inches | Smokey | 12'],
 '991': ['January | Alberta | macaw  \n',
  'February | Gladys | lovebird  \n',
  'March | Ellen | finch  \n',
  'April | Della | parakeet']}

In [32]:
gt = {}

count = 0 
for i, row in df.iterrows():

    if count >= 100:
        break

    if output.get(str(row["id"])) is not None:

        gt[str(row["id"])] = row["answer"]
        count += 1


print(len(gt))

100

In [34]:
count = 0
for key in gt:
    if output.get(key) is not None:
        count += 1

print(count)

100

In [38]:
for key in gt:
    print(gt[key])
    print()
    print("".join(output[key]))
    break

1984 | Annata Branco | gewurztraminer
1988 | Ece Suss | pinot noir
1992 | Bianca Flaux | merlot
1996 | Vendemmia | riesling

1984 | Annata Branco | Gewurztraminer
1988 | Ece Suss | Pinot Noir
1992 | Bianca Flaux | Merlot
1996 | Vendemmia | Riesling

In [44]:
def process_pred(pred_string):
    gt_dict = {}
    lines = pred_string.split("\n")
    for line in lines:

        if len(line.split("|")) >= 3:
        
            entities = line.split("|")
            cleaned_entities = []
            for entity in entities:
                cleaned_entity = entity.strip().strip("\n")
                cleaned_entity = entity.lower()
                cleaned_entities.append(cleaned_entity)
        
            for ent in cleaned_entities[1:]:
                gt_dict[ent] = cleaned_entities[0]
    
    return gt_dict

In [43]:
def process_gt(gt_string):
    gt_dict = {}
    lines = gt_string.split("\n")
    for line in lines:
        
        entities = line.split("|")
        cleaned_entities = []
        for entity in entities:
            cleaned_entity = entity.strip().strip("\n")
            cleaned_entity = entity.lower()
            cleaned_entities.append(cleaned_entity)
        
        for ent in cleaned_entities[1:]:
            gt_dict[ent] = cleaned_entities[0]
    
    return gt_dict

In [50]:
def get_hard_predictions(gt, pred):

    gt_dict = process_gt(gt)
    pred_dict = process_pred(pred)
    flag = True
    
    print("pred_dict", pred_dict)
    print()
    print("gt_dict", gt_dict)



    for key in gt_dict:

        if gt_dict[key] != pred_dict.get(key):
            flag=False
            break
    
    if flag:
        return 1

    else:
        return 0

In [42]:
incorrect_ids = [val.split("_")[1] for val in incorrect]

In [51]:
hard_predictions = {}
for key in gt:
    
    if key not in incorrect_ids:
        gt_val = gt.get(key)
        pred_val = "\n".join(output.get(key))
        
        if gt_val is not None and pred_val is not None:
            predicted_metric = get_hard_predictions(gt_val, pred_val)
            hard_predictions[key] = predicted_metric
    

values_sum = sum(list(hard_predictions.values()))


metric = values_sum / len(hard_predictions)

print(values_sum, len(hard_predictions), metric)

pred_dict {' annata branco ': '1984 ', ' gewurztraminer  ': '1984 ', ' ece suss ': '1988 ', ' pinot noir  ': '1988 ', ' bianca flaux ': '1992 ', ' merlot  ': '1992 ', ' vendemmia ': '1996 ', ' riesling': '1996 '}

gt_dict {' annata branco ': '1984 ', ' gewurztraminer': '1984 ', ' ece suss ': '1988 ', ' pinot noir': '1988 ', ' bianca flaux ': '1992 ', ' merlot': '1992 ', ' vendemmia ': '1996 ', ' riesling': '1996 '}
pred_dict {' altissimo ': 'fourth ', ' hannah': 'fourth ', ' calocarpa ': 'first ', ' nellie  ': 'first ', " perle d'or ": 'second ', ' tricia  ': 'second ', ' bon silene ': 'third ', ' renee  ': 'third '}

gt_dict {' bon silene ': 'first ', ' renee': 'first ', " perle d'or ": 'second ', ' tricia': 'second ', ' calocarpa ': 'third ', ' nellie': 'third ', ' altissimo ': 'fourth ', ' hannah': 'fourth '}
pred_dict {' score (%) ': '', ' a.i.      ': '', ' institution ': '', '': '', '-----------': '', '-------------': '', ' 55        ': '', ' archimedes': '', ' cit         ': '', ' 62        ': '', ' galen     ': '', ' ucla        ': '', ' 69        ': '', ' zeno      ': '', ' exeter      ': '', ' 76        ': '', ' proclus   ': '', ' oxford      ': ''}

gt_dict {' archimedes ': '55% ', ' cit': '55% ', ' galen ': '62% ', ' ucla': '62% ', ' zeno ': '69% ', ' exeter': '69% ', ' proclus ': '76% ', ' oxford': '76% '}
pred_dict {' tracy ': '1962 ', ' cherbourg  ': '1962 ', ' felipe ': '1969 ', ' bournemouth  ': '1969 ', ' karla ': '1976 ', ' plymouth  ': '1976 ', ' sean ': '1983 ', ' le havre': '1983 '}

gt_dict {' tracy ': '1962 ', ' cherbourg': '1962 ', ' felipe ': '1969 ', ' bournemouth': '1969 ', ' karla ': '1976 ', ' plymouth': '1976 ', ' sean ': '1983 ', ' le havre': '1983 '}
pred_dict {'7 ': '23 ', ' manchester': '23 ', ' shooting stars ': '', ' date ': '', ' location      ': '', '': '', '-----------------': '', '------': '', '---------------': '', ' 2              ': '', ' 22   ': '', ' eastbrook     ': '', ' 9              ': '', ' 10   ': '', ' isleton        ': '', ' 16             ': '', ' 17   ': '', ' gilmore city   ': '', ' 23             ': '', ' 7    ': '', ' manchester     ': ''}

gt_dict {' april 22 ': '2 ', ' eastbrook': '2 ', ' april 10 ': '9 ', ' isleton': '9 ', ' april 17 ': '16 ', ' gilmore city': '16 ', ' april 7 ': '23 ', ' manchester': '23 '}
pred_dict {' underwood ': '5 ', ' 114': '5 ', ' zamora ': '2 ', ' 124  ': '2 ', ' owens ': '3 ', ' 314  ': '3 ', ' parker ': '4 ', ' 320  ': '4 '}

gt_dict {' zamora ': '2 ', ' 124': '2 ', ' owens ': '3 ', ' 314': '3 ', ' parker ': '4 ', ' 320': '4 ', ' underwood ': '5 ', ' 114': '5 '}
pred_dict {' tom ': '9 ', ' dairy-free': '9 ', ' raymond ': '3 ', ' vegan  ': '3 ', ' wesley ': '5 ', ' gluten-free  ': '5 ', ' stuart ': '7 ', ' caveman  ': '7 '}

gt_dict {' raymond ': '3 ', ' vegan': '3 ', ' wesley ': '5 ', ' gluten-free': '5 ', ' stuart ': '7 ', ' caveman': '7 ', ' tom ': '9 ', ' dairy-free': '9 '}
pred_dict {' phillip ': '$45 ', ' grayling  ': '$45 ', ' otis    ': '$60 ', ' swallowtail  ': '$60 ', ' yvette  ': '$75 ', ' peacock  ': '$75 ', ' walter  ': '$90 ', ' atlas': '$90 '}

gt_dict {' phillip ': '$45 ', ' grayling': '$45 ', ' walter ': '$60 ', ' swallowtail': '$60 ', ' yvette ': '$75 ', ' peacock': '$75 ', ' otis ': '$90 ', ' atlas': '$90 '}
pred_dict {' roderick ': 'june 13 ', ' jackman': 'june 13 ', ' eugene ': 'june 10 ', ' farley  ': 'june 10 ', ' allen ': 'june 11 ', ' epworth  ': 'june 11 ', ' mitchell ': 'june 12 ', ' hardwick  ': 'june 12 '}

gt_dict {' eugene ': 'june 10 ', ' farley': 'june 10 ', ' allen ': 'june 11 ', ' jackman': 'june 11 ', ' mitchell ': 'june 12 ', ' hardwick': 'june 12 ', ' roderick ': 'june 13 ', ' epworth': 'june 13 '}
pred_dict {' edward ellis ': '6 ', ' placekicker': '6 ', ' gordon gregg ': '3 ', ' running back  ': '3 ', ' kurt koch ': '4 ', ' defensive end  ': '4 ', ' jack jensen ': '5 ', ' quarterback  ': '5 '}

gt_dict {' gordon gregg ': '3 ', ' running back': '3 ', ' kurt koch ': '4 ', ' defensive end': '4 ', ' jack jensen ': '5 ', ' quarterback': '5 ', ' edward ellis ': '6 ', ' placekicker': '6 '}
pred_dict {' lydia ': 'january ', ' shih tzu  ': 'january ', ' rosie ': 'february ', ' schnauzer  ': 'february ', ' kayla ': 'march ', ' black lab  ': 'march ', ' violet ': 'april ', ' boxer': 'april '}

gt_dict {' rosie ': 'january ', ' shih tzu': 'january ', ' lydia ': 'february ', ' black lab': 'february ', ' kayla ': 'march ', ' schnauzer': 'march ', ' violet ': 'april ', ' boxer': 'april '}
pred_dict {' smokey ': '114 inches ', ' 12': '114 inches ', ' buddy ': '102 inches ', ' 8  ': '102 inches ', ' gracie ': '106 inches ', ' 11  ': '106 inches ', ' angel ': '110 inches ', ' 9  ': '110 inches '}

gt_dict {' gracie ': '102 inches ', ' 11': '102 inches ', ' angel ': '106 inches ', ' 9': '106 inches ', ' smokey ': '110 inches ', ' 8': '110 inches ', ' buddy ': '114 inches ', ' 12': '114 inches '}
pred_dict {' viria mari ': 'january ', ' mercury  ': 'january ', ' iunsel ': 'february ', ' pluto  ': 'february ', ' disty ': 'march ', ' uranus  ': 'march ', ' moro jaddo ': 'april ', ' ganymede': 'april '}

gt_dict {' viria mari ': 'january ', ' mercury': 'january ', ' iunsel ': 'february ', ' pluto': 'february ', ' disty ': 'march ', ' uranus': 'march ', ' moro jaddo ': 'april ', ' ganymede': 'april '}
pred_dict {' estrada ': 'october 8 ', ' baseball glove  ': 'october 8 ', ' danielson ': 'october 5 ', ' turtle  ': 'october 5 ', ' nolan     ': 'october 6 ', ' sports car  ': 'october 6 ', ' ingram    ': 'october 7 ', ' bowling pin  ': 'october 7 ', ' estrada   ': 'october 8 '}

gt_dict {' danielson ': 'october 5 ', ' turtle': 'october 5 ', ' nolan ': 'october 6 ', ' sports car': 'october 6 ', ' ingram ': 'october 7 ', ' bowling pin': 'october 7 ', ' estrada ': 'october 8 ', ' baseball glove': 'october 8 '}
pred_dict {' nibner newt ': '2006 ', ' 280  ': '2006 ', ' perens pig ': '2007 ', ' 315  ': '2007 ', ' osbele oryx ': '2008 ', ' 385  ': '2008 ', ' eldar elk ': '2009 ', ' 210': '2009 '}

gt_dict {' nibner newt ': '2006 ', ' 280': '2006 ', ' perens pig ': '2007 ', ' 315': '2007 ', ' osbele oryx ': '2008 ', ' 385': '2008 ', ' eldar elk ': '2009 ', ' 210': '2009 '}
pred_dict {' bradley x9 ': '115 decibels ', ' 2007  ': '115 decibels ', ' rip tide ': '100 decibels ', ' 1999  ': '100 decibels ', ' soundarm ': '105 decibels ', ' 2009  ': '105 decibels ', ' 9 ': '110 decibels ', ' 1998  ': '110 decibels ', ' 2007': '115 decibels '}

gt_dict {' rip tide ': '100 decibels ', ' 1999': '100 decibels ', ' soundarm ': '105 decibels ', ' 2009': '105 decibels ', ' securalert ': '110 decibels ', ' 1998': '110 decibels ', ' bradley x9 ': '115 decibels ', ' 2007': '115 decibels '}
pred_dict {' valerie ': '15 feet ', ' black  ': '15 feet ', ' ella    ': '25 feet ', ' pink  ': '25 feet ', ' henrietta ': '35 feet ', ' silver  ': '35 feet ', ' omar    ': '45 feet ', ' blue  ': '45 feet '}

gt_dict {' valerie ': '15 feet ', ' black': '15 feet ', ' ella ': '25 feet ', ' pink': '25 feet ', ' henrietta ': '35 feet ', ' silver': '35 feet ', ' omar ': '45 feet ', ' blue': '45 feet '}
pred_dict {' ken jones ': '2011 ', ' sporrin': '2011 ', ' jack ingram ': '2008 ', ' peinope  ': '2008 ', ' hal gregory ': '2009 ', ' casputi  ': '2009 ', ' underwood ': '2010 ', ' crecci  ': '2010 '}

gt_dict {' jack ingram ': '2008 ', ' peinope': '2008 ', ' hal gregory ': '2009 ', ' casputi': '2009 ', ' underwood ': '2010 ', ' crecci': '2010 ', ' ken jones ': '2011 ', ' sporrin': '2011 '}
pred_dict {' budel ': '850 ad ', ' 9500  ': '850 ad ', ' hatgare ': '100 ad ', ' 5000  ': '100 ad ', ' sameos ': '350 ad ', ' 7500  ': '350 ad ', ' oiracha ': '600 ad ', ' 4500  ': '600 ad ', ' 9500': '850 ad '}

gt_dict {' oiracha ': '100 ad ', ' 5,000': '100 ad ', ' budel ': '350 ad ', ' 9,500': '350 ad ', ' sameos ': '600 ad ', ' 4,500': '600 ad ', ' hatgare ': '850 ad ', ' 7,500': '850 ad '}
pred_dict {' ken jones ': '2011 ', ' klionne': '2011 ', ' jack ingram ': '2008 ', ' trosny  ': '2008 ', ' hal gregory ': '2009 ', ' casputi  ': '2009 ', ' tillman ': '2010 ', ' wally six  ': '2010 '}

gt_dict {' jack ingram ': '2008 ', ' trosny': '2008 ', ' hal gregory ': '2009 ', ' casputi': '2009 ', ' tillman ': '2010 ', ' wally six': '2010 ', ' ken jones ': '2011 ', ' klionne': '2011 '}
pred_dict {' max fusion ': '2007 ', ' lyle lucas  ': '2007 ', ' green avenger ': '2008 ', ' hal houston  ': '2008 ', ' criminal bane ': '2009 ', ' peter powers  ': '2009 ', ' ultra hex ': '2010 ', ' tim trevino': '2010 '}

gt_dict {' criminal bane ': '2007 ', ' lyle lucas': '2007 ', ' green avenger ': '2008 ', ' hal houston': '2008 ', ' max fusion ': '2009 ', ' peter powers': '2009 ', ' ultra hex ': '2010 ', ' tim trevino': '2010 '}
pred_dict {' year  ': '', ' windmill      ': '', ' family      ': '', '': '', '-------': '', '--------------': '', '-------------': '', ' 1683  ': '', ' doesmolen    ': '', ' meijer      ': '', ' 1706  ': '', ' vlietmolen   ': '', ' bakker      ': '', ' 1729  ': '', ' grosmolen    ': '', ' de vries    ': '', ' 1752  ': '', ' zemelmolen   ': '', ' van dijk    ': ''}

gt_dict {' doesmolen ': '1683 ', ' meijer': '1683 ', ' vlietmolen ': '1706 ', ' bakker': '1706 ', ' grosmolen ': '1729 ', ' de vries': '1729 ', ' zemelmolen ': '1752 ', ' van dijk': '1752 '}
pred_dict {' sancode ': 'august 20th ', ' web developer  ': 'august 20th ', ' haytouch ': 'august 21st ', ' social media  ': 'august 21st ', ' laneplex ': 'august 22nd ', ' tech support  ': 'august 22nd ', ' streeter inc. ': 'august 23rd ', ' copywriter': 'august 23rd '}

gt_dict {' sancode ': 'august 20th ', ' web developer': 'august 20th ', ' haytouch ': 'august 21st ', ' social media': 'august 21st ', ' laneplex ': 'august 22nd ', ' tech support': 'august 22nd ', ' streeter inc. ': 'august 23rd ', ' copywriter': 'august 23rd '}
pred_dict {' nick ': 'first ', ' balls  ': 'first ', ' carmen ': 'second ', ' bowling pins  ': 'second ', ' lora ': 'third ', ' flashlights  ': 'third ', ' wesley ': 'fourth ', ' batons': 'fourth '}

gt_dict {' nick ': 'first ', ' balls': 'first ', ' carmen ': 'second ', ' bowling pins': 'second ', ' lora ': 'third ', ' flashlights': 'third ', ' wesley ': 'fourth ', ' batons': 'fourth '}
pred_dict {' year  ': '', ' island   ': '', ' culture    ': '', '': '', '-------': '', '----------': '', '------------': '', ' 1754  ': '', ' zafet    ': '', " manika'i   ": '', ' 1761  ': '', ' fushil   ': '', ' hakili     ': '', ' 1768  ': '', ' jujihm   ': '', ' kukani     ': '', ' 1775  ': '', ' teuz     ': '', " holo'oka   ": ''}

gt_dict {' zafet ': '1754 ', " manika'i": '1754 ', ' fushil ': '1761 ', ' hakili': '1761 ', ' jujihm ': '1768 ', ' kukani': '1768 ', ' teuz ': '1775 ', " holo'oka": '1775 '}
pred_dict {' $9.75   ': '', ' rosa    ': '', ' chia      ': '', '': '', ' price   ': '', ' customer ': '', ' superfood ': '', '----------': '', '-----------': '', ' $6.75   ': '', ' delores ': '', ' acai      ': '', ' $7.75   ': '', ' gene    ': '', ' kale      ': '', ' $8.75   ': '', ' betsy   ': '', ' ginger    ': ''}

gt_dict {' delores ': '$6.75 ', ' acai berries': '$6.75 ', ' gene ': '$7.75 ', ' kale': '$7.75 ', ' betsy ': '$8.75 ', ' ginger': '$8.75 ', ' rosa ': '$9.75 ', ' chia seeds': '$9.75 '}
pred_dict {' canway ': 'august 20th ', ' sales rep  ': 'august 20th ', ' zathdrill ': 'august 21st ', ' web developer  ': 'august 21st ', ' streeter inc. ': 'august 22nd ', ' graphic design  ': 'august 22nd ', ' laneplex ': 'august 23rd ', ' tech support': 'august 23rd '}

gt_dict {' canway ': 'august 20th ', ' sales rep': 'august 20th ', ' zathdrill ': 'august 21st ', ' web developer': 'august 21st ', ' streeter inc. ': 'august 22nd ', ' graphic design': 'august 22nd ', ' laneplex ': 'august 23rd ', ' tech support': 'august 23rd '}
pred_dict {' alejandro ': '512 gb ', ' 3 gb  ': '512 gb ', ' hard drive ': '', ' customer      ': '', ' ram  ': '', '': '', '------------': '', '---------------': '', '------': '', ' 128 gb     ': '', ' otis          ': '', ' 1 gb ': '', ' 256 gb     ': '', ' ram_12        ': '', ' 12 gb': '', ' 384 gb     ': '', ' victor        ': '', ' 4 gb ': '', ' 512 gb     ': '', ' alejandro     ': '', ' 3 gb ': ''}

gt_dict {' otis ': '128 gb ', ' 1 gb': '128 gb ', ' jack ': '256 gb ', ' 12 gb': '256 gb ', ' victor ': '384 gb ', ' 4 gb': '384 gb ', ' alejandro ': '512 gb ', ' 3 gb': '512 gb '}
pred_dict {' harry ': 'april 13th ', ' musician  ': 'april 13th ', ' dale ': 'may 18th ', ' surgeon  ': 'may 18th ', ' adrian ': 'june 14th ', ' lawyer  ': 'june 14th ', ' lamar ': 'july 16th ', ' architect': 'july 16th '}

gt_dict {' harry ': 'april 13th ', ' musician': 'april 13th ', ' dale ': 'may 18th ', ' surgeon': 'may 18th ', ' adrian ': 'june 14th ', ' lawyer': 'june 14th ', ' lamar ': 'july 16th ', ' architect': 'july 16th '}
pred_dict {' iggy ': '5 ', ' 115  ': '5 ', ' sparky ': '10 ', ' 120  ': '10 ', ' arthur ': '15 ', ' 136  ': '15 ', ' carlos ': '20 ', ' 140  ': '20 '}

gt_dict {' iggy ': '5 ', ' 11.5 feet': '5 ', ' carlos ': '10 ', ' 13.6 feet': '10 ', ' arthur ': '15 ', ' 14.0 feet': '15 ', ' sparky ': '20 ', ' 12.0 feet': '20 '}
pred_dict {' faye ': '7:00am ', ' high park  ': '7:00am ', ' kelly ': '8:00am ', ' little italy  ': '8:00am ', ' janice ': '9:00am ', ' greektown  ': '9:00am ', ' dustin ': '10:00am ', ' casa loma': '10:00am '}

gt_dict {' faye ': '7:00am ', ' high park': '7:00am ', ' kelly ': '8:00am ', ' little italy': '8:00am ', ' janice ': '9:00am ', ' greektown': '9:00am ', ' dustin ': '10:00am ', ' casa loma': '10:00am '}
pred_dict {' alberta ': 'january ', ' macaw  ': 'january ', ' gladys ': 'february ', ' lovebird  ': 'february ', ' ellen ': 'march ', ' finch  ': 'march ', ' della ': 'april ', ' parakeet': 'april '}

gt_dict {' alberta ': 'january ', ' macaw': 'january ', ' gladys ': 'february ', ' lovebird': 'february ', ' ellen ': 'march ', ' finch': 'march ', ' della ': 'april ', ' parakeet': 'april '}
pred_dict {' ? ': 'the senator ', ' 85': 'the senator ', ' height (ft) ': '', ' tree           ': '', ' age (years) ': '', '': '', '---------------': '', '----------------': '', '-------------': '', ' 144           ': '', " evan's fir     ": '', ' 94          ': '', ' 147           ': '', " zeke's spruce  ": '', ' 80          ': '', ' 150           ': '', ' the senator    ': '', ' 85          ': '', ' 153           ': '', ' marsh tree     ': '', ' 96          ': ''}

gt_dict {" evan's fir ": '144 ft. ', ' 96': '144 ft. ', " zeke's spruce ": '147 ft. ', ' 94': '147 ft. ', ' marsh tree ': '150 ft. ', ' 85': '150 ft. ', ' the senator ': '153 ft. ', ' 80': '153 ft. '}
pred_dict {' honwa ': '$550 ', ' 290  ': '$550 ', ' cober ': '$575 ', ' 5000  ': '$575 ', ' banion ': '$600 ', ' 5  ': '$600 ', ' dayero ': '$625 ', ' 520': '$625 '}

gt_dict {' honwa ': '$550 ', ' g-290': '$550 ', ' cober ': '$575 ', ' dm-5000': '$575 ', ' banion ': '$600 ', ' tela g5': '$600 ', ' dayero ': '$625 ', ' fc-520': '$625 '}
pred_dict {' nectron ': '$625 ', '5': '$625 ', ' torvia ': '$550 ', ' 5000  ': '$550 ', ' lirios ': '$575 ', ' 6  ': '$575 ', ' dayero ': '$600 ', ' 2  ': '$600 ', ' 5': '$625 '}

gt_dict {' torvia ': '$550 ', ' dm-5000': '$550 ', ' lirios ': '$575 ', ' lectra 6': '$575 ', ' dayero ': '$600 ', ' zenix 2c': '$600 ', ' nectron ': '$625 ', ' tela g5': '$625 '}
pred_dict {' barbara ': '2009 ', ' pekingese': '2009 ', ' fernando ': '2006 ', ' great dane  ': '2006 ', ' chester ': '2007 ', ' beagle  ': '2007 ', ' elsie ': '2008 ', ' maltese  ': '2008 '}

gt_dict {' fernando ': '2006 ', ' great dane': '2006 ', ' chester ': '2007 ', ' beagle': '2007 ', ' elsie ': '2008 ', ' maltese': '2008 ', ' barbara ': '2009 ', ' pekingese': '2009 '}
pred_dict {' hannah ': 'june ', ' juniper springs  ': 'june ', ' month   ': '', ' witness   ': '', ' location          ': '', '': '', '----------': '', '-----------': '', '--------------------': '', ' march    ': '', ' francis   ': '', ' bald hill run     ': '', ' april    ': '', ' wanda     ': '', ' seryl forest      ': '', ' may      ': '', ' jenny     ': '', ' laurel grove      ': '', ' june     ': '', ' hannah    ': '', ' juniper springs   ': ''}

gt_dict {' francis ': 'march ', ' bald hill run': 'march ', ' wanda ': 'april ', ' seryl forest': 'april ', ' jenny ': 'may ', ' laurel grove': 'may ', ' hannah ': 'june ', ' juniper springs': 'june '}
pred_dict {' maxine ': '12:01am ', ' blanchard  ': '12:01am ', ' peggy ': '12:04am ', ' underwood  ': '12:04am ', ' susan ': '12:07am ', ' ortega  ': '12:07am ', ' luis ': '12:10am ', ' vaughan  ': '12:10am '}

gt_dict {' maxine ': '12:01am ', ' vaughan': '12:01am ', ' peggy ': '12:04am ', ' blanchard': '12:04am ', ' susan ': '12:07am ', ' ortega': '12:07am ', ' luis ': '12:10am ', ' underwood': '12:10am '}
pred_dict {' fushil ': '1754 ', " manika'i  ": '1754 ', ' zafet ': '1761 ', ' kukani  ': '1761 ', ' verinya ': '1768 ', ' enakai  ': '1768 ', ' nuhirk ': '1775 ', ' wainani': '1775 '}

gt_dict {' fushil ': '1754 ', " manika'i": '1754 ', ' zafet ': '1761 ', ' kukani': '1761 ', ' verinya ': '1768 ', ' enakai': '1768 ', ' nuhirk ': '1775 ', ' wainani': '1775 '}
pred_dict {' angry ants ': 'march ', ' begamez  ': 'march ', ' peter parka ': 'april ', ' apptastic  ': 'april ', ' wizard world ': 'may ', ' gadingo  ': 'may ', ' vitalinks ': 'june ', ' vortia': 'june '}

gt_dict {' angry ants ': 'march ', ' begamez': 'march ', ' peter parka ': 'april ', ' apptastic': 'april ', ' wizard world ': 'may ', ' gadingo': 'may ', ' vitalinks ': 'june ', ' vortia': 'june '}
pred_dict {' whiskey ': '11:00am ', ' frazier park  ': '11:00am ', ' foxtrot ': '8:00am ', ' anthon ridge  ': '8:00am ', ' charlie ': '9:00am ', ' ezra forest  ': '9:00am ', ' india ': '10:00am ', ' crestline x  ': '10:00am ', ' frazier park': '11:00am '}

gt_dict {' charlie ': '8:00am ', ' frazier park': '8:00am ', ' india ': '9:00am ', ' anthon ridge': '9:00am ', ' foxtrot ': '10:00am ', ' crestline x': '10:00am ', ' whiskey ': '11:00am ', ' ezra forest': '11:00am '}
pred_dict {' wendell orr ': '282 ', ' gaff cutter': '282 ', ' vicky estes ': '270 ', ' pilot cutter  ': '270 ', ' ed alexander ': '274 ', ' schooner  ': '274 ', ' tara carroll ': '278 ', ' sloop  ': '278 '}

gt_dict {' vicky estes ': '270 ', ' pilot cutter': '270 ', ' ed alexander ': '274 ', ' schooner': '274 ', ' tara carroll ': '278 ', ' sloop': '278 ', ' wendell orr ': '282 ', ' gaff cutter': '282 '}
pred_dict {' night ninjas ': 'first ', ' purple  ': 'first ', ' oil crew ': 'second ', ' orange  ': 'second ', ' target bombs ': 'third ', ' red  ': 'third ', ' splat squad ': 'fourth ', ' yellow': 'fourth '}

gt_dict {' night ninjas ': 'first ', ' purple': 'first ', ' oil crew ': 'second ', ' orange': 'second ', ' target bombs ': 'third ', ' red': 'third ', ' splat squad ': 'fourth ', ' yellow': 'fourth '}
pred_dict {' darrell ': '$3.30 ', ' macchiato  ': '$3.30 ', ' jacob ': '$3.40 ', ' vanilla latte  ': '$3.40 ', ' charlie ': '$3.50 ', ' iced americano  ': '$3.50 ', ' henry ': '$3.60 ', ' espresso': '$3.60 '}

gt_dict {' darrell ': '$3.30 ', ' macchiato': '$3.30 ', ' jacob ': '$3.40 ', ' vanilla latte': '$3.40 ', ' charlie ': '$3.50 ', ' iced americano': '$3.50 ', ' henry ': '$3.60 ', ' espresso': '$3.60 '}
pred_dict {' easy to love ': '$11 million ', ' micah moreno  ': '$11 million ', ' amerigo ': '$2 million ', ' nan norman  ': '$2 million ', ' tippecanoe ': '$5 million ', ' odette olson  ': '$5 million ', ' zephyr breeze ': '$8 million ', ' hick harmon  ': '$8 million ', ' micah moreno': '$11 million '}

gt_dict {' amerigo ': '$2 million ', ' nan norman': '$2 million ', ' tippecanoe ': '$5 million ', ' odette olson': '$5 million ', ' zephyr breeze ': '$8 million ', ' hick harmon': '$8 million ', ' easy to love ': '$11 million ', ' micah moreno': '$11 million '}

In [ ]:
manual_validated = []
for key in gt:
    if key not in incorrect_ids:

        gt_ = gt[key]
        out_ = "".join(output[key])

        print("predicted", out_)
        print()
        print("gt", gt_)

        if input() == "1":
            manual_validated.append(1)

predicted 1984 | Annata Branco | Gewurztraminer
1988 | Ece Suss | Pinot Noir
1992 | Bianca Flaux | Merlot
1996 | Vendemmia | Riesling

gt 1984 | Annata Branco | gewurztraminer
1988 | Ece Suss | pinot noir
1992 | Bianca Flaux | merlot
1996 | Vendemmia | riesling
predicted fourth | altissimo | Hannah
first | calocarpa | Nellie
second | perle d'or | Tricia
third | bon silene | Renee
fourth | altissimo | Hannah

gt first | bon silene | Renee
second | perle d'or | Tricia
third | calocarpa | Nellie
fourth | altissimo | Hannah

In [ ]:
import torch

In [ ]:
checkpoint = torch.load(os.path.join(path, f'style_gan_checkpoint_res{4*2**step}.pth'))

alpha = checkpoint['alpha']


# Method 1: Save alpha using torch.save()
torch.save(alpha, 'alpha.pth')

# Method 2: Save as a dictionary with torch.save()
torch.save({'alpha': alpha}, 'alpha_dict.pth')

# Method 3: If alpha is a simple scalar value, you can use standard Python
import json
with open('alpha.json', 'w') as f:
    json.dump({'alpha': float(alpha)}, f)  # Convert to float in case it's a tensor

# Method 4: Simple text file (if alpha is a scalar)
with open('alpha.txt', 'w') as f:
    f.write(str(float(alpha)))